{% extends "network/layout.html" %}
{% load static %}

{% block body %}
 
 
    <h2>{{ request.user.email }}</h2>

   
    <div id="form-post"><form method="post"  action="{% url 'index' %}">
        {% csrf_token %}
        {{PostForm.post}}
        <br><input type="submit">

    </form><br>
        </div>

        <div id="profile-view" class="card" style="width: 18rem;">
            <img id="profile-img" src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 id="profile-name" class="card-title">Card title</h5>
              <p id="profile-follow" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" id="profile-follow_button" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


          <div id="posts-nav"> 
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                  <li id="page-item-Previous" class="page-item  "><a class="page-link" href="#">Previous</a></li>
                  <li id="page-item-Next" class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    

    <div id="posts-view"> 
        
    </div>

   

        
         

 

{% endblock %}

{% block script %}
<script>var current_user='{{ user.username }}'</script>
    <script src="{% static 'network/posts.js' %}"></script> 

    
{% endblock %}

