{% extends "network/layout.html" %}
{% load static %}

{% block body %}
 
 
    <h2>{{ request.user.email }}</h2>

   
    <div><form method="post"  action="{% url 'index' %}">
        {% csrf_token %}
        {{PostForm.post}}
        <br><input type="submit">

    </form><br> 
        </div>
    <div id="posts-view"> 
    </div>
    <div id="profile-view"> 
    </div>
     
   
  


{% endblock %}

{% block script %}
<script>var current_user='{{ user.username }}'</script>

    <script src="{% static 'network/posts.js' %}"></script> 

    
{% endblock %}

